<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="startYear" value="2000"/>
    <add key="endYear" value="2018"/>
    <add key="holidaysConfig" value="CroatianHolidays.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="database" connectionString="Data Source=THINKPAD-AELEK\SQL2017;Initial Catalog=pi;Integrated Security=True"/>
  </connectionStrings>
</configuration>